* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif!important;
    font-weight: <weight>!important;
}
.full-bg-color {
    background-color: #F5F8FF;
}
.container {
    width: 1140px;        
    margin: 0 auto;  
    padding: 0 15px;   
}
.section-padding {
    padding: 116px 0px;

}
.logo {
    width: 100px;
    height: 100px;
}
.header-bg {
    padding: 20px 0px;
    background-image: url("images/bg.png");
     background-size: cover; 
     background-repeat: no-repeat; 
     /* height: 400px; */
     background-position: center;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header h1{
    color: #4E47FF;
    font-weight: 700;
}
.btn{
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway", sans-serif!important;
    transition: 0.6s all ease-in-out;
}
.btn:hover{
    transition: 0.6s all ease-in-out;
    color: #000000;
    background-color: #F2C60C;
}
.header-text {
    padding: 165px 40px;
    margin: 0 auto;
}
.header-text h1{
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
.btn-style {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.action {
    margin: 0 auto;
}
.action h1 {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}
.action p {
    color: #94949a;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
    width: 500px;
    line-height: 30px;
}
.action-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.productive-users-section {
    background-color: #E5E7FF;
    border-radius: 24px;
    padding: 50px 142px;
    text-align: center;
}
.productive-users-section h1{
    font-size: 38px;
    font-weight: 700!important;
    text-align: center;
    margin-bottom: 40px;
}
.users h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 600;
    font-family: "Inter", sans-serif!important;
}
.users p{
    color: #9596a4;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif!important;
}
.Users-Feedback {
     font-size: 38px;
    font-weight: 700!important;
    text-align: center;
    margin-bottom: 40px;
}
.main-header-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.feedback {
    width: 366px;
    background-color: #FAFCFF;
    border-radius: 14px;
    padding: 24px;
    border: 1px solid #F2EDED;
     /* margin: 0px 4px 0px 4px; */
}
.feedback h3{
    font-size: 24px;
    color: #1E1E1E;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: "Inter", sans-serif!important;

}
.feedback p{
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom: 6px;
    font-family: "Inter", sans-serif!important;
    line-height: 24px;
    font-weight: 400;
}
.feedback-img {
    display: flex;
    margin-bottom: 24px;
}
.user-review {
    display: flex;
    align-items: center;
    justify-items: center;
}
.user-review img {
    border-radius: 100%;
    margin-right: 12px;
}
.review-text {
   margin-top: 20px;
}
.review-text h4{
    font-size: 14px;
    color: #757575;
    font-family: "Inter", sans-serif!important;
}
.review-text p{
    font-size: 14px;
    color: #B3B3B3;
    font-family: "Inter", sans-serif!important;
}
.contact {
    width: 55%;
}
.contact-form {
    width:45%;
}
.contact h1 {
    font-size: 97px;
    color: #000000;
    font-weight: 700;
}
.form-item{
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    font-family: "Inter", sans-serif!important;

}
.form-field {
    width: 93%; 
    height: 30px; 
    border-radius: 12px;
    padding: 16px; 
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif!important;
    border: 1px solid #D6DDED;
}
.submit-btn {
    color: #FFFFFF;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    border: none;
    padding: 12px 100px;
    background-color: #4E47FF;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway", sans-serif!important;
    transition: 0.6s all ease-in-out;
}
.submit-btn:hover{
    transition: 0.6s all ease-in-out;
    color: #000000;
    background-color: #F2C60C;
}
.footer {
    text-align: center;
    padding: 0px 142px;
}
.footer-logo {
    width: 150px;
    height: 150px;
}
.footer p {
    color: #b9b8cc;
    font-size: 16px;
    font-family: "Inter", sans-serif!important;
    margin-bottom: 20px;
    font-weight:400!important;
}
.footer-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-list li{
    list-style: none;
}
.footer-list li a{
    text-decoration: none;
    color: #8987A1;
    font-family: "Inter", sans-serif!important;

}
.footer-list li a:hover{
    color: #000000;
    transition: 0.6 all ease-in-out;
}